@import '../common/style/sass.scss';

.ant-layout {
    height: 100vh;
    .Logo {
        text-align: center;
        color: $white;
    }
    .HomeBox{
        background: $white;
        height: 100%;
        padding: 0 30px;
        box-sizing: border-box
    }
}